body{
    color: rgb(9, 15, 15);
    margin-top: 15px auto 10px;
    border-width: 5px; 
    border-style: solid;
    border-color: black;
    background-image: url(https://marketplace.canva.com/EAFKZHGOyMM/1/0/1600w/canva-papel-de-parede-frase-ondas-do-mar-aquarela-delicado-azul-qvfEoU7y-20.jpg);  
}
    

h1{
    text-align: center;
}
form{
    text-align: center;
}
